@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h1>Excel Raporları</h1>

            <br />
            <div>
                <a href="/Report/staticReport/" class="btn btn-outline-info">Statik rapor</a><br />
            </div><br />
            <div>
                <a href="/Report/contactReport/" class="btn btn-outline-info">Mesaj rapor</a><br />
            </div><br />
            <div>
                <a href="/Report/newsReport/" class="btn btn-outline-info">Duyuru rapor</a><br />
            </div><br />
        </div>
    </div>
</div>