@using EntitiyLayer.Concrete
@model List<RecentProject>



<section id="content-section-4">

    <div class="greennature-color-wrapper  gdlr-show-all no-skin" style="background-color: #ffffff; padding-bottom: 25px; ">
        <div class="container">
            <div class="greennature-item-title-wrapper greennature-item  greennature-left-divider greennature-medium ">
                <div class="greennature-item-title-container container">
                    <div class="greennature-item-title-head">
                        <h3 class="greennature-item-title greennature-skin-title greennature-skin-border"><img src="/green-nature-environmental-template/upload/icon-5.png" alt="" width="80" height="80" />Our Recent Projects</h3><a class="greennature-item-title-link" href="#">More Projects</a>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="portfolio-item-wrapper type-classic-portfolio">
                <div class="portfolio-item-holder  greennature-portfolio-column-4">
                    <div class="greennature-isotope" data-type="portfolio" data-layout="fitRows">
                        <div class="clear"></div>
                        @foreach (var item in Model)
                        {
                            
                        
                        <div class="three columns">
                            <div class="greennature-item greennature-portfolio-item greennature-classic-portfolio">
                                <div class="greennature-ux greennature-classic-portfolio-ux">
                                    <div class="portfolio-thumbnail greennature-image"><img src="@item.Image" alt="" width="540" height="326" /><span class="portfolio-overlay">&nbsp;</span><a class="portfolio-overlay-icon" href="/green-nature-environmental-template/upload/shutterstock_161515241.jpg" data-rel="fancybox"><span class="portfolio-icon"><i class="fa fa-search"></i></span></a></div>
                                    <div class="portfolio-classic-content">
                                        <h3 class="portfolio-title"><a href="#">@item.Title</a></h3>
                                        <div class="greennature-portfolio-info">
                                            <div class="portfolio-info portfolio-tag"><span class="info-head greennature-title">Tags </span><a href="#" rel="tag"></a>@item.Description1</div>
                                            <div class="clear"></div>
                                        </div>
                                        <div class="portfolio-excerpt">
                                            @item.Description2
                                            <div class="clear"></div><a href="#" class="excerpt-read-more">Read More</a>
                                        </div><a class="portfolio-classic-learn-more" href="#">Learn More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        }
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>
</section>