 @model newProject.Models.RegisterViewModel
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin Paneli</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/majestic-master/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/majestic-master/vendors/base/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/majestic-master/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/majestic-master/images/favicon.png" />
</head>

<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth px-0">
                <div class="row w-100 mx-0">
                    <div class="col-lg-4 mx-auto">
                        <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                            <div class="brand-logo">
                                <img src="/majestic-master/images/logo.svg" alt="logo">
                            </div>
                            <h4>Kayıt Ol</h4>
                            <h6 class="font-weight-light">Kayıt olmak artık çok kolay..</h6>
                            <form class="pt-3" method="post" asp-action="SignUp" asp-controller="Login">
                                <div class="form-group">
                                    <input type="text" asp-for="userName" class="form-control form-control-lg" id="exampleInputUsername1" placeholder="Kullanıcı Adı Giriniz">
                                </div>
                                <div class="form-group">
                                    <input type="email" asp-for="email" class="form-control form-control-lg" id="exampleInputEmail1" placeholder="Email">
                                </div>
                                
                                <div class="form-group">
                                    <input type="password" asp-for="password" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Şifre Giriniz">
                                    <span asp-validation-for="password"></span>
                                </div>
                                <div class="form-group">
                                    <input type="password" asp-for="passwordConfirm" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Şifreyi Tekrar Giriniz">
                                    <span asp-validation-for="passwordConfirm"></span>

                                </div>
                                <div class="mb-4">
                                    <div class="form-check">
                                        <label class="form-check-label text-muted">
                                            @* <input type="checkbox" href class="form-check-input"> *@
                                            <input type="checkbox" asp-for="Status" class="form-check-input"  />
                                            Kayıt şart ve koşullarını kabul ediyorum.
                                        </label>
                                    </div>
                                </div>
                                <div class="mt-3">
                                    @* <a class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" >Kayıt Ol</a> *@
                                    <button class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">Kayıt Ol</button>
                                    @* href="/login/index.html" *@
                                </div>
                                
                            </form>
                            <div class="text-center mt-4 font-weight-light">
                                Already have an account? <a href="/login/index/" class="text-primary">Giriş Yap</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/majestic-master/vendors/base/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script src="~/majestic-master/js/off-canvas.js"></script>
    <script src="~/majestic-master/js/hoverable-collapse.js"></script>
    <script src="~/majestic-master/js/template.js"></script>
    <!-- endinject -->
</body>

</html>

