@model EntitiyLayer.Concrete.Admin

@{
    ViewData["Title"] = "updateAdmin";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Admin Güncelleme Sayfası</h4>
            <form  method="post">

                @*@Html.Label("Service ID")
                @Html.TextBoxFor(x=>x.ServiceID,new {@class = "form-control"})*@
                @Html.HiddenFor(x => x.AdminID)
                @Html.Label("Kullanıcı Adı")
                <input type="text" asp-for="userName" class="form-control" />
                <br />
                @Html.Label("Admin Şifre")
                <input type="text" asp-for="password" class="form-control" />
                <br />
                
                <button class="btn btn-danger">Admin Güncelle</button>
            </form>
        </div>
    </div>
</div>