@model EntitiyLayer.Concrete.Contact

<section id="content-section-2">
    <div class="section-container container">
        <div class="greennature-item greennature-content-item" style="margin-bottom: 60px;">
            <span class="clear"></span><span class="greennature-space" style="margin-top: -22px; display: block;"></span>
            <h5 class="greennature-heading-shortcode " style="font-weight: bold;">Please fulfil the form below. </h5>
            <p>
                <span class="clear"></span><span class="greennature-space" style="margin-top: 25px; display: block;"></span>
                <div role="form" class="wpcf7" id="wpcf7-f4-o1" lang="en-US" dir="ltr">
                    <form class="quform" asp-action="addContact" asp-controller="Contact" method="post" enctype="multipart/form-data" onclick="">

                        <div class="quform-elements">
                            <div class="quform-element">
                                <p>
                                    <br>
                                    <span class="wpcf7-form-control-wrap your-name">
                                        <input id="name" type="text" asp-for="Name" size="40" class="input1" aria-required="true" aria-invalid="false" placeholder="Name*">
                                    </span>
                                </p>
                            </div>
                            <div class="quform-element">
                                <p>
                                    <br>
                                    <span class="wpcf7-form-control-wrap your-email">
                                        <input id="email" type="text" asp-for="Mail" size="40" class="input1" aria-required="true" aria-invalid="false" placeholder="Email*">
                                    </span>
                                </p>
                            </div>
                            <div class="quform-element">
                                <p>
                                    <br>
                                    <span class="wpcf7-form-control-wrap your-message">
                                        <textarea id="message" asp-for="Message" cols="40" rows="10" class="input1" aria-invalid="false" placeholder="Message*"></textarea>
                                    </span>
                                </p>
                            </div>
                            <p>
                                <!-- Begin Submit button -->
                                <div class="quform-submit">
                                    <div class="quform-submit-inner">
                                        <button href="/Default/index" type="submit" class="submit-button"><span>Send</span></button>
                                    </div>
                                    <div class="quform-loading-wrap"><span class="quform-loading"></span></div>
                                </div>
                            </p>
                        </div>
                    </form>
                </div>
            </p>
        </div>
        <div class="clear"></div>
    </div>
</section>
