@using EntitiyLayer.Concrete
@model List<Team>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Takım Arkadaşlarımız</h4>
       
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Personel ID</th>
                            <th>Ad</th>
                            <th>Görev</th>
                            <th>Sil</th>
                            <th>Düzenle</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="py-1">
                                    <img src="~/majestic-master/images/faces/face1.jpg" alt="image" />
                                </td>
                                <td>@item.TeamID</td>
                                <td>@item.PersonName</td>
                                <td>@item.Title</td>
                                <td><a href="/Team/deleteTeam/@item.TeamID" class="btn btn-danger">Personel Sil</a></td>
                                <td><a href="/Team/updateTeam/@item.TeamID" class="btn btn-danger">Personel Güncelle</a></td>
                                

                            </tr>
                        }
                        
                        
                    </tbody>
                    <a href="/Team/addTeam/"class="btn btn-primary">Personel Ekle</a>
                </table>
            </div>
        </div>
    </div>
</div>


